In [1]:
import pandas as pd

In [26]:
mid=pd.read_csv("C:\\Users\\owner\\Desktop\\데이터 분석 중간 프로젝트\\인프라\\중학교(국·공립)_20230406002458.csv",header=3)

In [27]:
mid.head()

,자치구별(1),자치구별(2),소계,소계.1,소계.2,소계.3,소계.4,소계.5,소계.6,소계.7,...,소계.11,남자,여자,소계.12,소계.13,남자.1,여자.1,소계.14,소계.15,소계.16
0,합계,소계,281,6426,155815,81633,74182,13193,2929,10264,...,50983,26917,24066,50874,48614,25371,23243,3727,2928,10753
1,합계,국립,2,44,944,582,362,112,40,72,...,326,184,142,326,282,185,97,25,21,91
2,합계,공립,279,6382,154871,81051,73820,13081,2889,10192,...,50657,26733,23924,50548,48332,25186,23146,3701,2907,10662
3,합계,종로구,2,38,769,407,362,94,26,68,...,285,143,142,284,225,128,97,15,18,80
4,합계,중구,4,53,900,106,794,129,25,104,...,316,37,279,315,201,30,171,58,36,111

In [38]:
mid_school=mid[["자치구별(2)","소계"]]

In [39]:
mid_school

   자치구별(2)   소계
0       소계  281
1       국립    2
2       공립  279
3      종로구    2
4       중구    4
5      용산구    4
6      성동구   10
7      광진구    9
8     동대문구    9
9      중랑구   11
10     성북구   10
11     강북구    8
12     도봉구   11
13     노원구   21
14     은평구   11
15    서대문구    7
16     마포구    9
17     양천구   16
18     강서구   16
19     구로구   13
20     금천구    7
21    영등포구   12
22     동작구   12
23     관악구   12
24     서초구   13
25     강남구   18
26     송파구   23
27     강동구   13

In [43]:
mid_school.columns=("자치구별","중학교수")

In [44]:
mid_school

    자치구별  중학교수
0     소계   281
1     국립     2
2     공립   279
3    종로구     2
4     중구     4
5    용산구     4
6    성동구    10
7    광진구     9
8   동대문구     9
9    중랑구    11
10   성북구    10
11   강북구     8
12   도봉구    11
13   노원구    21
14   은평구    11
15  서대문구     7
16   마포구     9
17   양천구    16
18   강서구    16
19   구로구    13
20   금천구     7
21  영등포구    12
22   동작구    12
23   관악구    12
24   서초구    13
25   강남구    18
26   송파구    23
27   강동구    13

In [46]:
mid_school.set_index("자치구별",inplace=True) # 인덱스를 자치구별로 변경

In [47]:
mid_school

      중학교수
자치구별
소계     281
국립       2
공립     279
종로구      2
중구       4
용산구      4
성동구     10
광진구      9
동대문구     9
중랑구     11
성북구     10
강북구      8
도봉구     11
노원구     21
은평구     11
서대문구     7
마포구      9
양천구     16
강서구     16
구로구     13
금천구      7
영등포구    12
동작구     12
관악구     12
서초구     13
강남구     18
송파구     23
강동구     13

In [49]:
# 필요없는 데이터 소거
mid_school.drop("소계",inplace=True) 
mid_school.drop("국립",inplace=True)
mid_school.drop("공립",inplace=True)

C:\Users\owner\AppData\Local\Temp\ipykernel_5312\1758561975.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mid_school.drop("소계",inplace=True)
C:\Users\owner\AppData\Local\Temp\ipykernel_5312\1758561975.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mid_school.drop("국립",inplace=True)
C:\Users\owner\AppData\Local\Temp\ipykernel_5312\1758561975.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mid_school.drop("공립",inplace=True)

In [51]:
mid_school["중학교수"]=mid_school["중학교수"].astype(int) # 데이터 타입 정수형으로 변경

C:\Users\owner\AppData\Local\Temp\ipykernel_5312\918022719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mid_school["중학교수"]=mid_school["중학교수"].astype(int)

In [52]:
mid_school.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 종로구 to 강동구
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   중학교수    25 non-null     int32
dtypes: int32(1)
memory usage: 300.0+ bytes

In [54]:
mid_school.to_csv("C:\\Users\\owner\\team project\\전처리 완\\mid_school.csv")