In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#matplot 한글폰트 설정
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\Windows\Fonts\GULIM.TTC").get_name()
plt.rc("font", family = font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"]= False

In [2]:
#아파트 매매 실거래가 가져오기 및 필요없는 행 제거

df = pd.read_csv(
    r"C:/Users/acorn/OneDrive/Desktop/중간프로젝트/부동산/아파트(매매)__실거래가_2019_국토교통부.csv", encoding='euc-kr',
        skiprows= 15)
df.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201906,18,"134,500",4,1988,언주로 103,NaN,-,-
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201911,18,"160,000",2,1988,언주로 103,NaN,-,-
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,67.28,201905,4,"124,000",4,1987,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201906,15,"141,000",5,1987,언주로 3,NaN,-,-
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201908,28,"155,000",4,1987,언주로 3,NaN,-,-

In [3]:
#데이터 정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75084 entries, 0 to 75083
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       75084 non-null  object
 1   번지        75061 non-null  object
 2   본번        75076 non-null  float64
 3   부번        75076 non-null  float64
 4   단지명       75084 non-null  object
 5   전용면적(㎡)   75084 non-null  float64
 6   계약년월      75084 non-null  int64
 7   계약일       75084 non-null  int64
 8   거래금액(만원)  75084 non-null  object
 9   층         75084 non-null  int64
 10  건축년도      75084 non-null  int64
 11  도로명       75084 non-null  object
 12  해제사유발생일   0 non-null      float64
 13  거래유형      75084 non-null  object
 14  중개사소재지    75084 non-null  object
dtypes: float64(4), int64(4), object(7)
memory usage: 8.6+ MB

In [4]:
df1 = df.copy()

In [5]:
df1.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201906,18,"134,500",4,1988,언주로 103,NaN,-,-
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201911,18,"160,000",2,1988,언주로 103,NaN,-,-
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,67.28,201905,4,"124,000",4,1987,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201906,15,"141,000",5,1987,언주로 3,NaN,-,-
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201908,28,"155,000",4,1987,언주로 3,NaN,-,-

In [6]:
#계약년월 연도.월로 변환
df1['계약년월'] = df1['계약년월'].astype(
    str).apply(lambda x: x[:4] + '.' + x[4:6])
df1.info()
df1['계약년월']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75084 entries, 0 to 75083
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       75084 non-null  object
 1   번지        75061 non-null  object
 2   본번        75076 non-null  float64
 3   부번        75076 non-null  float64
 4   단지명       75084 non-null  object
 5   전용면적(㎡)   75084 non-null  float64
 6   계약년월      75084 non-null  object
 7   계약일       75084 non-null  int64
 8   거래금액(만원)  75084 non-null  object
 9   층         75084 non-null  int64
 10  건축년도      75084 non-null  int64
 11  도로명       75084 non-null  object
 12  해제사유발생일   0 non-null      float64
 13  거래유형      75084 non-null  object
 14  중개사소재지    75084 non-null  object
dtypes: float64(4), int64(3), object(8)
memory usage: 8.6+ MB

0        2019.06
1        2019.11
2        2019.05
3        2019.06
4        2019.08
          ...
75079    2019.12
75080    2019.09
75081    2019.05
75082    2019.01
75083    2019.07
Name: 계약년월, Length: 75084, dtype: object

In [7]:
df1.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일', '거래유형', '중개사소재지'],
      dtype='object')

In [8]:
# 거래금액(만원) column을 숫자형으로 변환
df1['거래금액(만원)'] = df1['거래금액(만원)'].str.replace(',', '').astype(int)

In [9]:
#결측치 확인
df1['거래금액(만원)'].isnull().sum()

0

In [10]:
df1['거래금액(만원)'].describe().round(0)

count     75084.0
mean      81909.0
std       57472.0
min        5400.0
25%       45000.0
50%       67000.0
75%       99000.0
max      840000.0
Name: 거래금액(만원), dtype: float64

In [11]:
#결측데이터 확인
sorted_df1 = df1.sort_values(by='거래금액(만원)', ascending=True)
sorted_df1

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
19652,서울특별시 구로구 구로동,801-26,801.0,26.0,성산E동,21.900,2019.09,4,5400,1,1995,도림로 12-10,NaN,-,-
22753,서울특별시 금천구 시흥동,817-29,817.0,29.0,시흥(817-29),39.830,2019.03,6,6500,5,1975,독산로24나길 13,NaN,-,-
17867,서울특별시 광진구 화양동,110-37,110.0,37.0,화양타워,15.810,2019.04,4,6900,2,1999,능동로19길 47,NaN,-,-
17878,서울특별시 광진구 화양동,110-37,110.0,37.0,화양타워,15.950,2019.10,15,7000,2,1999,능동로19길 47,NaN,-,-
21171,서울특별시 구로구 오류동,34-13,34.0,13.0,썬앤빌,14.064,2019.09,26,7000,8,2014,경인로19가길 40,NaN,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68568,서울특별시 용산구 한남동,810,810.0,0.0,한남더힐,240.305,2019.11,11,710000,1,2011,독서당로 111,NaN,-,-
68570,서울특별시 용산구 한남동,810,810.0,0.0,한남더힐,241.052,2019.11,12,713000,1,2011,독서당로 111,NaN,-,-
68484,서울특별시 용산구 한남동,810,810.0,0.0,한남더힐,243.201,2019.04,18,730000,1,2011,독서당로 111,NaN,-,-
68510,서울특별시 용산구 한남동,810,810.0,0.0,한남더힐,244.749,2019.06,14,820000,3,2011,독서당로 111,NaN,-,-
68463,서울특별시 용산구 한남동,810,810.0,0.0,한남더힐,244.749,2019.01,10,840000,3,2011,독서당로 111,NaN,-,-

In [12]:
# 컬럼의 순서(위치) 바꾸기
cols = ['시군구', '전용면적(㎡)', '계약년월','거래금액(만원)']
df2 = pd.DataFrame(df1, columns = cols)
df2

                 시군구  전용면적(㎡)     계약년월  거래금액(만원)
0      서울특별시 강남구 개포동    77.75  2019.06    134500
1      서울특별시 강남구 개포동    77.75  2019.11    160000
2      서울특별시 강남구 개포동    67.28  2019.05    124000
3      서울특별시 강남구 개포동    79.97  2019.06    141000
4      서울특별시 강남구 개포동    79.97  2019.08    155000
...              ...      ...      ...       ...
75079  서울특별시 중랑구 중화동    84.87  2019.12     58800
75080  서울특별시 중랑구 중화동    84.69  2019.09     35000
75081  서울특별시 중랑구 중화동    57.18  2019.05     25800
75082  서울특별시 중랑구 중화동    82.17  2019.01     34500
75083  서울특별시 중랑구 중화동    64.48  2019.07     32800

[75084 rows x 4 columns]

In [13]:
df2.head()

             시군구  전용면적(㎡)     계약년월  거래금액(만원)
0  서울특별시 강남구 개포동    77.75  2019.06    134500
1  서울특별시 강남구 개포동    77.75  2019.11    160000
2  서울특별시 강남구 개포동    67.28  2019.05    124000
3  서울특별시 강남구 개포동    79.97  2019.06    141000
4  서울특별시 강남구 개포동    79.97  2019.08    155000

In [14]:
# 전용면적당 거래금액(만원)
df2['1m^2 전용면적당 거래금액(만원)'] = (df2['거래금액(만원)'] / df2['전용면적(㎡)']).astype(int)
df2.head()

             시군구  전용면적(㎡)     계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
0  서울특별시 강남구 개포동    77.75  2019.06    134500                 1729
1  서울특별시 강남구 개포동    77.75  2019.11    160000                 2057
2  서울특별시 강남구 개포동    67.28  2019.05    124000                 1843
3  서울특별시 강남구 개포동    79.97  2019.06    141000                 1763
4  서울특별시 강남구 개포동    79.97  2019.08    155000                 1938

In [15]:
#시군구 column 자치구별로 변동
df2.rename(columns = {'시군구':'자치구별'}, inplace = True)

In [16]:
df2.head()

            자치구별  전용면적(㎡)     계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
0  서울특별시 강남구 개포동    77.75  2019.06    134500                 1729
1  서울특별시 강남구 개포동    77.75  2019.11    160000                 2057
2  서울특별시 강남구 개포동    67.28  2019.05    124000                 1843
3  서울특별시 강남구 개포동    79.97  2019.06    141000                 1763
4  서울특별시 강남구 개포동    79.97  2019.08    155000                 1938

In [17]:
#자치구별 주소 구로만 가져오기
df2['자치구별'] = df2['자치구별'].str.split().str[1]
df2.head()

  자치구별  전용면적(㎡)     계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
0  강남구    77.75  2019.06    134500                 1729
1  강남구    77.75  2019.11    160000                 2057
2  강남구    67.28  2019.05    124000                 1843
3  강남구    79.97  2019.06    141000                 1763
4  강남구    79.97  2019.08    155000                 1938

In [18]:
#계약년월 -> 계약연도, 계약월로 나누기
df2['계약년월'] = df2['계약년월'].str.replace(".", "").astype(int)
df2['계약연도'] = df2['계약년월'] // 100
df2['계약월'] = df2['계약년월'] % 100

C:\Users\acorn\AppData\Local\Temp\ipykernel_6996\1734486872.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['계약년월'] = df2['계약년월'].str.replace(".", "").astype(int)

In [19]:
df2

      자치구별  전용면적(㎡)    계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)  계약연도  계약월
0      강남구    77.75  201906    134500                 1729  2019    6
1      강남구    77.75  201911    160000                 2057  2019   11
2      강남구    67.28  201905    124000                 1843  2019    5
3      강남구    79.97  201906    141000                 1763  2019    6
4      강남구    79.97  201908    155000                 1938  2019    8
...    ...      ...     ...       ...                  ...   ...  ...
75079  중랑구    84.87  201912     58800                  692  2019   12
75080  중랑구    84.69  201909     35000                  413  2019    9
75081  중랑구    57.18  201905     25800                  451  2019    5
75082  중랑구    82.17  201901     34500                  419  2019    1
75083  중랑구    64.48  201907     32800                  508  2019    7

[75084 rows x 7 columns]

In [20]:
#중간포인트 저장
df2.to_csv(r"C:/seokwonna/프로젝트/save_point1_apt_buysell_2019_data.csv", encoding='utf-8')

In [21]:
df2.columns

Index(['자치구별', '전용면적(㎡)', '계약년월', '거래금액(만원)', '1m^2 전용면적당 거래금액(만원)', '계약연도',
       '계약월'],
      dtype='object')

In [22]:
# 컬럼의 순서(위치) 바꾸기
cols = ['자치구별', '계약연도', '계약월', '전용면적(㎡)', '거래금액(만원)', '1m^2 전용면적당 거래금액(만원)']
df3 = pd.DataFrame(df2, columns=cols)
df3

      자치구별  계약연도  계약월  전용면적(㎡)  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
0      강남구  2019    6    77.75    134500                 1729
1      강남구  2019   11    77.75    160000                 2057
2      강남구  2019    5    67.28    124000                 1843
3      강남구  2019    6    79.97    141000                 1763
4      강남구  2019    8    79.97    155000                 1938
...    ...   ...  ...      ...       ...                  ...
75079  중랑구  2019   12    84.87     58800                  692
75080  중랑구  2019    9    84.69     35000                  413
75081  중랑구  2019    5    57.18     25800                  451
75082  중랑구  2019    1    82.17     34500                  419
75083  중랑구  2019    7    64.48     32800                  508

[75084 rows x 6 columns]

In [23]:
#group_by 사용해서 자치구별 + 계약년월 대비 전용면적당 거래금액(만원) 평균 df으로 구성
df4 = df3.groupby([df3.자치구별, df3.계약월]).mean().round(0)
df4

            계약연도  전용면적(㎡)  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
자치구별 계약월
강남구  1    2019.0    106.0  173071.0               1747.0
     2    2019.0     89.0  154486.0               1729.0
     3    2019.0     87.0  155681.0               1771.0
     4    2019.0     92.0  172983.0               1967.0
     5    2019.0     91.0  173678.0               2024.0
...          ...      ...       ...                  ...
중랑구  8    2019.0     75.0   47034.0                642.0
     9    2019.0     73.0   46378.0                648.0
     10   2019.0     74.0   47185.0                650.0
     11   2019.0     73.0   48370.0                667.0
     12   2019.0     56.0   39134.0                769.0

[300 rows x 4 columns]

In [24]:
unique_values = df2['자치구별'].unique()
print(unique_values)
print(unique_values.size)

['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구']
25

In [25]:
#자치구 월별 매매된 평균 아파트 매매가, 1m^2 전용면적당 평균가
df3.to_csv(
    r"C:/seokwonna/프로젝트/save_point2_apt_buysell_2019_data.csv", encoding='utf-8')

In [26]:
df5 = df3.groupby([df3.자치구별]).mean().round(0)
df5.head()

        계약연도  계약월  전용면적(㎡)  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
자치구별
강남구   2019.0  8.0     92.0  179961.0               2051.0
강동구   2019.0  8.0     75.0   73584.0               1007.0
강북구   2019.0  8.0     74.0   46805.0                665.0
강서구   2019.0  9.0     73.0   60390.0                852.0
관악구   2019.0  8.0     73.0   53545.0                757.0

In [27]:
#서울시 수치화된 데이터 평균가 추가
df5.loc['평균'] = df4.mean().round(0)
df5

        계약연도  계약월  전용면적(㎡)  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
자치구별
강남구   2019.0  8.0     92.0  179961.0               2051.0
강동구   2019.0  8.0     75.0   73584.0               1007.0
강북구   2019.0  8.0     74.0   46805.0                665.0
강서구   2019.0  9.0     73.0   60390.0                852.0
관악구   2019.0  8.0     73.0   53545.0                757.0
광진구   2019.0  8.0     85.0   92629.0               1105.0
구로구   2019.0  8.0     73.0   51012.0                707.0
금천구   2019.0  8.0     73.0   43315.0                619.0
노원구   2019.0  8.0     65.0   44401.0                703.0
도봉구   2019.0  8.0     70.0   40614.0                594.0
동대문구  2019.0  8.0     72.0   58414.0                840.0
동작구   2019.0  9.0     83.0   85306.0               1066.0
마포구   2019.0  9.0     77.0   91760.0               1221.0
서대문구  2019.0  8.0     76.0   68039.0                922.0
서초구   2019.0  8.0     99.0  165307.0               1755.0
성동구   2019.0  9.0     79.0   96499.0               1245.0
성북구   2019.0  9.0     78.0   58499.0                771.0
송파구   2019.0  8.0     86.0  120140.0               1440.0
양천구   2019.0  8.0     82.0   84712.0               1038.0
영등포구  2019.0  8.0     74.0   76733.0               1039.0
용산구   2019.0  8.0    102.0  151880.0               1463.0
은평구   2019.0  8.0     75.0   52369.0                729.0
종로구   2019.0  8.0     79.0   79612.0               1015.0
중구    2019.0  9.0     81.0   80260.0               1024.0
중랑구   2019.0  8.0     70.0   44479.0                660.0
평균    2019.0  NaN     78.0   77356.0                978.0

In [28]:
#2018년 자치구별 매매된 평균 아파트 매매가, 1m^2 전용면적당 평균가
df5.to_csv(
    r"C:/seokwonna/프로젝트/save_point3_apt_buysell_2019_data.csv", encoding='utf-8')