# 고등학교 정보

## 일반고(국공립,사립), 자율고(국공립, 사립), 전문고(국공립, 사립) 개수 
### 데이터 출처
    - https://kess.kedi.re.kr/stats/school?menuCd=0101&cd=4201&survSeq=2018&itemCode=01&menuId=m_010107&uppCd1=010107&uppCd2=010107&flag=B

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

 
import matplotlib.font_manager as fm                                  # 한글을 불러올 수 있게 하는 코드
font_name = fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family=font_name)
 
import matplotlib as mlp                                              #  - 를 읽어 올 수 있게 하는 코드
mlp.rcParams["axes.unicode_minus"] = False

In [15]:
import xml.etree.ElementTree as et
import urllib.request as req
import requests
import urllib.request as req
from urllib.error import HTTPError, URLError
import bs4
from bs4 import BeautifulSoup 
from urllib.request import urlopen
from bs4 import BeautifulSoup
import time
from tqdm import tqdm_notebook
import folium
import googlemaps
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from glob import glob

In [64]:
driver = webdriver.Chrome("C:\\maenuk\\chromedriver")
url = 'https://kess.kedi.re.kr/stats/school?menuCd=0101&cd=4201&survSeq=2018&itemCode=01&menuId=m_010107&uppCd1=010107&uppCd2=010107&flag=B'
driver.get(url)

C:\Users\owner\AppData\Local\Temp\ipykernel_6840\3178276343.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("C:\\maenuk\\chromedriver")

In [67]:
tag=driver.find_element(By.XPATH,'//*[@id="cdSurvSeqCell"]')
tag.send_keys([0])

NameError: name 'si_names' is not defined

In [20]:
data=pd.read_excel("C:\\Users\\owner\\Desktop\\데이터 분석 중간 프로젝트\\2018_행정구역별 개황.xlsx")

C:\Users\owner\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [21]:
data

,시도,행정구역,학제,학교수,인가학급수,인가학급수.1,인가학급수.2,학생수,학생수.1,학생수.2,...,학업중단자.6,학업중단자.7,학업중단자.8,학업중단자.9,학업중단자.10,학업중단자.11,다문화학생,다문화학생.1,교사대지면적,체육장면적
0,시도,행정구역,학제,학교수,학급수 계,일반학급,특수학급,학생수 계,학생수 계,일반학급,...,자퇴,자퇴,퇴학,퇴학,제적,제적,다문화학생,다문화학생,교사대지면적,체육장면적
1,시도,행정구역,학제,학교수,학급수 계,일반학급,특수학급,전체,여자,전체,...,전체,여자,전체,여자,전체,여자,전체,여자,교사대지면적,체육장면적
2,서울,종로구,유치원,17,66,66,0,1299,641,1299,...,0,0,0,0,0,0,0,0,10535,2259
3,서울,종로구,초등학교,13,277,264,13,5507,2663,5447,...,0,0,0,0,0,0,161,76,67655,46841
4,서울,종로구,중학교,9,136,134,2,2945,1362,2932,...,0,0,0,0,0,0,47,23,18594,31566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2144,5. 조사기준일 : 2018년 4월 1일(학생변동 및 학업중단 기준일 : 2017년...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2146,주석,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2147,1. 조사 기준일 : 2017년 4월 1일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2148,2. 출처 : 한국교육개발원 교육통계서비스(https://kess.kedi.re.kr),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
data1=data[data["시도"]=="서울"]

In [69]:
data1

,시도,행정구역,학제,학교수,인가학급수,인가학급수.1,인가학급수.2,학생수,학생수.1,학생수.2,...,학업중단자.6,학업중단자.7,학업중단자.8,학업중단자.9,학업중단자.10,학업중단자.11,다문화학생,다문화학생.1,교사대지면적,체육장면적
2,서울,종로구,유치원,17,66,66,0,1299,641,1299,...,0,0,0,0,0,0,0,0,10535,2259
3,서울,종로구,초등학교,13,277,264,13,5507,2663,5447,...,0,0,0,0,0,0,161,76,67655,46841
4,서울,종로구,중학교,9,136,134,2,2945,1362,2932,...,0,0,0,0,0,0,47,23,18594,31566
5,서울,종로구,고등학교,14,373,370,3,10016,4213,9996,...,206,113,2,1,0,0,67,36,239514,117776
6,서울,종로구,(일반고),6,169,166,3,4606,2049,4586,...,78,45,1,0,0,0,40,24,85119,56195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,서울,소계,(자율고),41,1273,1234,39,37824,11919,37592,...,469,157,3,1,1,0,106,41,626105,413715
251,서울,소계,특수학교,30,794,0,794,4352,1481,0,...,0,0,0,0,0,0,0,0,160649,47677
252,서울,소계,고등기술학교,2,5,5,0,46,17,46,...,0,0,0,0,0,0,0,0,5931,8000
253,서울,소계,각종학교,16,218,218,0,3257,2422,3257,...,0,0,0,0,0,0,196,83,64922,19765
254,서울,소계,소계,2232,42507,40402,2105,993552,482104,982458,...,4399,2136,78,16,37,21,16219,7995,11389288,8226480

In [70]:
# 학제 컬럼에 데티어 확인
data["학제"].unique()

array(['학제', '유치원', '초등학교', '중학교', '고등학교', '(일반고)', '(특목고)', '(특성화고)',
       '(자율고)', '특수학교', '각종학교', '소계', '고등기술학교', '고등공민학교', nan],
      dtype=object)

In [71]:
# 고등학교만 추출
data2 = data1[(data1["학제"]=="고등학교") | (data1["학제"]=="(일반고)") | (data1["학제"]=="(특목고)") | (data1["학제"]=="(특성화고)") | (data1["학제"]=="(자율고)")]

In [72]:
data2

,시도,행정구역,학제,학교수,인가학급수,인가학급수.1,인가학급수.2,학생수,학생수.1,학생수.2,...,학업중단자.6,학업중단자.7,학업중단자.8,학업중단자.9,학업중단자.10,학업중단자.11,다문화학생,다문화학생.1,교사대지면적,체육장면적
5,서울,종로구,고등학교,14,373,370,3,10016,4213,9996,...,206,113,2,1,0,0,67,36,239514,117776
6,서울,종로구,(일반고),6,169,166,3,4606,2049,4586,...,78,45,1,0,0,0,40,24,85119,56195
7,서울,종로구,(특목고),3,72,72,0,1907,1234,1907,...,39,32,0,0,0,0,7,5,71601,14656
8,서울,종로구,(특성화고),3,69,69,0,1492,930,1492,...,69,36,1,1,0,0,13,7,30175,19653
9,서울,종로구,(자율고),2,63,63,0,2011,0,2011,...,20,0,0,0,0,0,7,0,52619,27272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,서울,소계,고등학교,320,9685,9433,252,259554,126008,257919,...,4399,2136,78,16,37,21,1382,743,4207320,2645622
247,서울,소계,(일반고),188,6059,5863,196,165341,83331,164082,...,2776,1361,38,10,18,8,588,330,2343052,1587794
248,서울,소계,(특목고),21,484,484,0,12477,7960,12477,...,156,119,0,0,0,0,70,38,430953,140035
249,서울,소계,(특성화고),70,1869,1852,17,43912,22798,43768,...,998,499,37,5,18,13,618,334,807210,504078
250,서울,소계,(자율고),41,1273,1234,39,37824,11919,37592,...,469,157,3,1,1,0,106,41,626105,413715

In [73]:
# 모든 대학의 수를 행정구역별로 그룸화
data2018=data2.groupby("행정구역")[["학교수"]].sum()

In [74]:
data2018

      학교수
행정구역
강남구    44
강동구    28
강북구    14
강서구    46
관악구    34
광진구    18
구로구    28
금천구    12
노원구    50
도봉구    20
동대문구   22
동작구    14
마포구    18
서대문구   14
서초구    22
성동구    18
성북구    26
소계    640
송파구    38
양천구    30
영등포구   18
용산구    20
은평구    36
종로구    28
중구     22
중랑구    20

In [101]:
# 인덱스명 변경
data2018.index.name="자치구별"

In [97]:
data2018.drop("소계",inplace=True)

KeyError: "['소계'] not found in axis"

In [105]:
data2018.columns=["2018년도고등학교수"]

In [106]:
# 2018 학교수
data2018

      2018년도고등학교수
자치구별
강남구            44
강동구            28
강북구            14
강서구            46
관악구            34
광진구            18
구로구            28
금천구            12
노원구            50
도봉구            20
동대문구           22
동작구            14
마포구            18
서대문구           14
서초구            22
성동구            18
성북구            26
송파구            38
양천구            30
영등포구           18
용산구            20
은평구            36
종로구            28
중구             22
중랑구            20

In [80]:
data2019=pd.read_excel("C:\\Users\\owner\\team project\\2019_행정구역별 개황.xlsx")

C:\Users\owner\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [81]:
data2019

,시도,행정구역,학제,학교수,인가학급수,인가학급수.1,인가학급수.2,학생수,학생수.1,학생수.2,...,학업중단자.6,학업중단자.7,학업중단자.8,학업중단자.9,학업중단자.10,학업중단자.11,다문화학생,다문화학생.1,교사대지면적,체육장면적
0,시도,행정구역,학제,학교수,학급수 계,일반학급,특수학급,학생수 계,학생수 계,일반학급,...,자퇴,자퇴,퇴학,퇴학,제적,제적,다문화학생,다문화학생,교사대지면적,체육장면적
1,시도,행정구역,학제,학교수,학급수 계,일반학급,특수학급,전체,여자,전체,...,전체,여자,전체,여자,전체,여자,전체,여자,교사대지면적,체육장면적
2,서울,종로구,유치원,17,66,66,0,1217,601,1217,...,0,0,0,0,0,0,0,0,9452,1779
3,서울,종로구,초등학교,13,274,261,13,5463,2673,5402,...,0,0,0,0,0,0,171,79,64936,41336
4,서울,종로구,중학교,9,135,133,2,2854,1344,2839,...,0,0,0,0,0,0,50,21,18594,31566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,5. 조사기준일 : 2019년 4월 1일(학생변동 및 학업중단 기준일 : 2018년...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1959,주석,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,1. 조사기준일: 2019년 4월 1일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961,2. 출처: 한국교육개발원 교육통계서비스(https://kess.kedi.re.kr),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
data2019=data2019[data2019["시도"]== "서울"]

In [84]:
data2019

,시도,행정구역,학제,학교수,인가학급수,인가학급수.1,인가학급수.2,학생수,학생수.1,학생수.2,...,학업중단자.6,학업중단자.7,학업중단자.8,학업중단자.9,학업중단자.10,학업중단자.11,다문화학생,다문화학생.1,교사대지면적,체육장면적
2,서울,종로구,유치원,17,66,66,0,1217,601,1217,...,0,0,0,0,0,0,0,0,9452,1779
3,서울,종로구,초등학교,13,274,261,13,5463,2673,5402,...,0,0,0,0,0,0,171,79,64936,41336
4,서울,종로구,중학교,9,135,133,2,2854,1344,2839,...,0,0,0,0,0,0,50,21,18594,31566
5,서울,종로구,고등학교,14,364,361,3,9046,3860,9031,...,171,94,2,2,0,0,46,23,239514,118350
6,서울,종로구,(일반고),6,166,163,3,3940,1788,3925,...,65,39,0,0,0,0,22,14,85119,56195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,서울,강동구,(특목고),1,30,30,0,662,511,662,...,7,5,0,0,0,0,1,1,0,0
239,서울,강동구,(특성화고),2,62,62,0,1571,785,1571,...,28,13,0,0,0,0,18,10,14979,4809
240,서울,강동구,(자율고),1,39,39,0,1307,0,1307,...,11,0,0,0,0,0,0,0,26821,28611
241,서울,강동구,특수학교,2,59,0,59,322,116,0,...,0,0,0,0,0,0,0,0,11204,0
242,서울,강동구,소계,93,2004,1885,119,44293,20283,43648,...,162,78,1,0,0,0,576,302,445577,384144

In [85]:
data2019= data2019[(data2019["학제"]=="고등학교") | (data2019["학제"]=="(일반고)") | (data2019["학제"]=="(특목고)") | (data2019["학제"]=="(특성화고)") | (data2019["학제"]=="(자율고)")]

In [87]:
data2019

,시도,행정구역,학제,학교수,인가학급수,인가학급수.1,인가학급수.2,학생수,학생수.1,학생수.2,...,학업중단자.6,학업중단자.7,학업중단자.8,학업중단자.9,학업중단자.10,학업중단자.11,다문화학생,다문화학생.1,교사대지면적,체육장면적
5,서울,종로구,고등학교,14,364,361,3,9046,3860,9031,...,171,94,2,2,0,0,46,23,239514,118350
6,서울,종로구,(일반고),6,166,163,3,3940,1788,3925,...,65,39,0,0,0,0,22,14,85119,56195
7,서울,종로구,(특목고),3,72,72,0,1916,1260,1916,...,43,33,0,0,0,0,6,3,71601,15230
8,서울,종로구,(특성화고),3,65,65,0,1358,812,1358,...,37,22,2,2,0,0,12,6,30175,19653
9,서울,종로구,(자율고),2,61,61,0,1832,0,1832,...,26,0,0,0,0,0,6,0,52619,27272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,서울,강동구,고등학교,14,456,444,12,11256,4749,11196,...,162,78,1,0,0,0,50,25,144547,109313
237,서울,강동구,(일반고),10,325,313,12,7716,3453,7656,...,116,60,1,0,0,0,31,14,102747,75893
238,서울,강동구,(특목고),1,30,30,0,662,511,662,...,7,5,0,0,0,0,1,1,0,0
239,서울,강동구,(특성화고),2,62,62,0,1571,785,1571,...,28,13,0,0,0,0,18,10,14979,4809
240,서울,강동구,(자율고),1,39,39,0,1307,0,1307,...,11,0,0,0,0,0,0,0,26821,28611

In [89]:
data2019=data2019.groupby("행정구역")[["학교수"]].sum()

In [103]:
data2019.index.name="자치구별"

In [107]:
data2019.columns=["2019년도고등학교수"]

In [108]:
data2019

      2019년도고등학교수
자치구별
강남구            44
강동구            28
강북구            14
강서구            46
관악구            34
광진구            18
구로구            28
금천구            12
노원구            50
도봉구            20
동대문구           22
동작구            14
마포구            18
서대문구           14
서초구            22
성동구            18
성북구            26
송파구            38
양천구            30
영등포구           18
용산구            20
은평구            36
종로구            28
중구             22
중랑구            20

In [110]:
data2020=pd.read_excel("C:\\Users\\owner\\team project\\2020_행정구역별 개황.xlsx")

C:\Users\owner\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [111]:
data2020=data2020[data2020["시도"]== "서울"]

In [112]:
data2020= data2020[(data2020["학제"]=="고등학교") | (data2020["학제"]=="(일반고)") | (data2020["학제"]=="(특목고)") | (data2020["학제"]=="(특성화고)") | (data2020["학제"]=="(자율고)")]

In [113]:
data2020=data2020.groupby("행정구역")[["학교수"]].sum()

In [114]:
data2020

      학교수
행정구역
강남구    44
강동구    28
강북구    14
강서구    46
관악구    34
광진구    18
구로구    28
금천구    12
노원구    50
도봉구    20
동대문구   22
동작구    14
마포구    18
서대문구   14
서초구    22
성동구    18
성북구    26
소계    640
송파구    38
양천구    30
영등포구   18
용산구    20
은평구    36
종로구    28
중구     22
중랑구    20

In [115]:
data2020.index.name="자치구별"

In [116]:
data2020.columns=["2020년도고등학교수"]

In [117]:
data2021=pd.read_excel("C:\\Users\\owner\\team project\\2021_행정구역별 개황.xlsx")

C:\Users\owner\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [118]:
data2021=data2021[data2021["시도"]== "서울"]

In [119]:
data2021= data2021[(data2021["학제"]=="고등학교") | (data2021["학제"]=="(일반고)") | (data2021["학제"]=="(특목고)") | (data2021["학제"]=="(특성화고)") | (data2021["학제"]=="(자율고)")]

In [120]:
data2021=data2021.groupby("행정구역")[["학교수"]].sum()

In [121]:
data2021

      학교수
행정구역
강남구    44
강동구    28
강북구    14
강서구    46
관악구    34
광진구    18
구로구    28
금천구    12
노원구    50
도봉구    20
동대문구   22
동작구    14
마포구    18
서대문구   14
서초구    22
성동구    18
성북구    26
소계    640
송파구    38
양천구    30
영등포구   18
용산구    20
은평구    36
종로구    28
중구     22
중랑구    20

In [122]:
data2021.index.name="자치구별"

In [124]:
data2021.columns=["2021년도고등학교수"]

In [125]:
data2021

      2021년도고등학교수
자치구별
강남구            44
강동구            28
강북구            14
강서구            46
관악구            34
광진구            18
구로구            28
금천구            12
노원구            50
도봉구            20
동대문구           22
동작구            14
마포구            18
서대문구           14
서초구            22
성동구            18
성북구            26
소계            640
송파구            38
양천구            30
영등포구           18
용산구            20
은평구            36
종로구            28
중구             22
중랑구            20

In [126]:
data2022=pd.read_excel("C:\\Users\\owner\\team project\\2022_행정구역별 개황.xlsx")

C:\Users\owner\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [127]:
data2022=data2022[data2022["시도"]== "서울"]

In [128]:
data2022= data2022[(data2022["학제"]=="고등학교") | (data2022["학제"]=="(일반고)") | (data2022["학제"]=="(특목고)") | (data2022["학제"]=="(특성화고)") | (data2022["학제"]=="(자율고)")]

In [129]:
data2022=data2022.groupby("행정구역")[["학교수"]].sum()

In [134]:
data2022

      2022년도고등학교수
자치구별
강남구            44
강동구            28
강북구            14
강서구            46
관악구            34
광진구            18
구로구            28
금천구            12
노원구            50
도봉구            20
동대문구           22
동작구            14
마포구            18
서대문구           14
서초구            22
성동구            16
성북구            26
소계            640
송파구            40
양천구            30
영등포구           18
용산구            20
은평구            36
종로구            28
중구             22
중랑구            20

In [131]:
data2022.index.name="자치구별"

In [133]:
data2022.columns=["2022년도고등학교수"]

In [ ]:
# 모든데이터를 정수형으로 변경
data2018=data2018.astype(int)
data2019=data2019.astype(int)
data2020=data2020.astype(int)
data2021=data2021.astype(int)
data2022=data2022.astype(int)

In [149]:
# 모든데이터프레임을 하나로 합침
high_school = pd.concat([data2018, data2019, data2020, data2021, data2022], axis=1)

In [150]:
high_school

      2018년도고등학교수  2019년도고등학교수  2020년도고등학교수  2021년도고등학교수  2022년도고등학교수
자치구별
강남구          44.0         44.0           44           44           44
강동구          28.0         28.0           28           28           28
강북구          14.0         14.0           14           14           14
강서구          46.0         46.0           46           46           46
관악구          34.0         34.0           34           34           34
광진구          18.0         18.0           18           18           18
구로구          28.0         28.0           28           28           28
금천구          12.0         12.0           12           12           12
노원구          50.0         50.0           50           50           50
도봉구          20.0         20.0           20           20           20
동대문구         22.0         22.0           22           22           22
동작구          14.0         14.0           14           14           14
마포구          18.0         18.0           18           18           18
서대문구         14.0         14.0           14           14           14
서초구          22.0         22.0           22           22           22
성동구          18.0         18.0           18           18           16
성북구          26.0         26.0           26           26           26
송파구          38.0         38.0           38           38           40
양천구          30.0         30.0           30           30           30
영등포구         18.0         18.0           18           18           18
용산구          20.0         20.0           20           20           20
은평구          36.0         36.0           36           36           36
종로구          28.0         28.0           28           28           28
중구           22.0         22.0           22           22           22
중랑구          20.0         20.0           20           20           20
소계            NaN          NaN          640          640          640

In [152]:
high_school.drop("소계",inplace=True)

In [155]:
high_school.to_csv("C:\\Users\\owner\\team project\\전처리 완\\high_school.csv")