In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#matplot 한글폰트 설정
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\Windows\Fonts\GULIM.TTC").get_name()
plt.rc("font", family = font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"]= False

In [2]:
#아파트 매매 실거래가 가져오기 및 필요없는 행 제거

df = pd.read_csv(
    r"C:/Users/acorn/OneDrive/Desktop/중간프로젝트/부동산/아파트(매매)__실거래가_2020_국토교통부.csv", encoding='euc-kr',
        skiprows= 15)
df.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202006,23,"149,500",4,1988,언주로 103,NaN,-,-
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,202002,24,"144,000",4,1987,언주로 3,NaN,-,-
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,18,"162,750",4,1987,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,20,"160,000",5,1987,언주로 3,NaN,-,-
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,22,"150,000",2,1987,언주로 3,NaN,-,-

In [3]:
#데이터 정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84139 entries, 0 to 84138
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       84139 non-null  object
 1   번지        84116 non-null  object
 2   본번        84128 non-null  float64
 3   부번        84128 non-null  float64
 4   단지명       84139 non-null  object
 5   전용면적(㎡)   84139 non-null  float64
 6   계약년월      84139 non-null  int64
 7   계약일       84139 non-null  int64
 8   거래금액(만원)  84139 non-null  object
 9   층         84139 non-null  int64
 10  건축년도      84139 non-null  int64
 11  도로명       84139 non-null  object
 12  해제사유발생일   3157 non-null   float64
 13  거래유형      84139 non-null  object
 14  중개사소재지    84139 non-null  object
dtypes: float64(4), int64(4), object(7)
memory usage: 9.6+ MB

In [4]:
df1 = df.copy()

In [5]:
df1.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202006,23,"149,500",4,1988,언주로 103,NaN,-,-
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,202002,24,"144,000",4,1987,언주로 3,NaN,-,-
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,18,"162,750",4,1987,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,20,"160,000",5,1987,언주로 3,NaN,-,-
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,22,"150,000",2,1987,언주로 3,NaN,-,-

In [6]:
#계약년월 연도.월로 변환
df1['계약년월'] = df1['계약년월'].astype(
    str).apply(lambda x: x[:4] + '.' + x[4:6])
df1.info()
df1['계약년월']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84139 entries, 0 to 84138
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       84139 non-null  object
 1   번지        84116 non-null  object
 2   본번        84128 non-null  float64
 3   부번        84128 non-null  float64
 4   단지명       84139 non-null  object
 5   전용면적(㎡)   84139 non-null  float64
 6   계약년월      84139 non-null  object
 7   계약일       84139 non-null  int64
 8   거래금액(만원)  84139 non-null  object
 9   층         84139 non-null  int64
 10  건축년도      84139 non-null  int64
 11  도로명       84139 non-null  object
 12  해제사유발생일   3157 non-null   float64
 13  거래유형      84139 non-null  object
 14  중개사소재지    84139 non-null  object
dtypes: float64(4), int64(3), object(8)
memory usage: 9.6+ MB

0        2020.06
1        2020.02
2        2020.06
3        2020.06
4        2020.06
          ...
84134    2020.08
84135    2020.07
84136    2020.12
84137    2020.09
84138    2020.09
Name: 계약년월, Length: 84139, dtype: object

In [7]:
df1.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일', '거래유형', '중개사소재지'],
      dtype='object')

In [8]:
# 거래금액(만원) column을 숫자형으로 변환
df1['거래금액(만원)'] = df1['거래금액(만원)'].str.replace(',', '').astype(int)

In [9]:
#결측치 확인
df1['거래금액(만원)'].isnull().sum()

0

In [10]:
df1['거래금액(만원)'].describe().round(0)

count     84139.0
mean      84721.0
std       56817.0
min        6000.0
25%       48700.0
50%       71000.0
75%      103000.0
max      775000.0
Name: 거래금액(만원), dtype: float64

In [11]:
#결측데이터 확인
sorted_df1 = df1.sort_values(by='거래금액(만원)', ascending=True)
sorted_df1

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
21889,서울특별시 구로구 구로동,752-10,752.0,10.0,(752-10),25.530,2020.06,10,6000,1,1996,구로동로22길 70-9,NaN,-,-
20157,서울특별시 구로구 개봉동,304-16,304.0,16.0,건양,29.340,2020.11,18,6200,1,2002,개봉로17나길 16,NaN,-,-
37841,서울특별시 도봉구 쌍문동,357-14,357.0,14.0,로얄,42.000,2020.10,23,6500,-1,2000,우이천로30길 43,NaN,-,-
24654,서울특별시 구로구 오류동,34-13,34.0,13.0,썬앤빌,14.064,2020.07,21,6750,12,2014,경인로19가길 40,NaN,-,-
24651,서울특별시 구로구 오류동,34-13,34.0,13.0,썬앤빌,14.064,2020.03,31,6900,16,2014,경인로19가길 40,NaN,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75792,서울특별시 용산구 한남동,810,810.0,0.0,한남더힐,240.305,2020.12,31,710000,2,2011,독서당로 111,NaN,-,-
75758,서울특별시 용산구 한남동,810,810.0,0.0,한남더힐,240.305,2020.04,27,730000,-1,2011,독서당로 111,NaN,-,-
75785,서울특별시 용산구 한남동,810,810.0,0.0,한남더힐,240.230,2020.09,21,730000,3,2011,독서당로 111,NaN,-,-
75787,서울특별시 용산구 한남동,810,810.0,0.0,한남더힐,241.052,2020.11,9,760000,-1,2011,독서당로 111,NaN,-,-
75784,서울특별시 용산구 한남동,810,810.0,0.0,한남더힐,243.642,2020.09,4,775000,1,2011,독서당로 111,NaN,-,-

In [12]:
# 컬럼의 순서(위치) 바꾸기
cols = ['시군구', '전용면적(㎡)', '계약년월','거래금액(만원)']
df2 = pd.DataFrame(df1, columns = cols)
df2

                 시군구  전용면적(㎡)     계약년월  거래금액(만원)
0      서울특별시 강남구 개포동    77.75  2020.06    149500
1      서울특별시 강남구 개포동    54.98  2020.02    144000
2      서울특별시 강남구 개포동    79.97  2020.06    162750
3      서울특별시 강남구 개포동    79.97  2020.06    160000
4      서울특별시 강남구 개포동    79.97  2020.06    150000
...              ...      ...      ...       ...
84134  서울특별시 중랑구 중화동    67.57  2020.08     26000
84135  서울특별시 중랑구 중화동    95.94  2020.07     44000
84136  서울특별시 중랑구 중화동   100.17  2020.12     54800
84137  서울특별시 중랑구 중화동    77.71  2020.09     40000
84138  서울특별시 중랑구 중화동    77.71  2020.09     40000

[84139 rows x 4 columns]

In [13]:
df2.head()

             시군구  전용면적(㎡)     계약년월  거래금액(만원)
0  서울특별시 강남구 개포동    77.75  2020.06    149500
1  서울특별시 강남구 개포동    54.98  2020.02    144000
2  서울특별시 강남구 개포동    79.97  2020.06    162750
3  서울특별시 강남구 개포동    79.97  2020.06    160000
4  서울특별시 강남구 개포동    79.97  2020.06    150000

In [14]:
# 전용면적당 거래금액(만원)
df2['1m^2 전용면적당 거래금액(만원)'] = (df2['거래금액(만원)'] / df2['전용면적(㎡)']).astype(int)
df2.head()

             시군구  전용면적(㎡)     계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
0  서울특별시 강남구 개포동    77.75  2020.06    149500                 1922
1  서울특별시 강남구 개포동    54.98  2020.02    144000                 2619
2  서울특별시 강남구 개포동    79.97  2020.06    162750                 2035
3  서울특별시 강남구 개포동    79.97  2020.06    160000                 2000
4  서울특별시 강남구 개포동    79.97  2020.06    150000                 1875

In [15]:
#시군구 column 자치구별로 변동
df2.rename(columns = {'시군구':'자치구별'}, inplace = True)

In [16]:
df2.head()

            자치구별  전용면적(㎡)     계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
0  서울특별시 강남구 개포동    77.75  2020.06    149500                 1922
1  서울특별시 강남구 개포동    54.98  2020.02    144000                 2619
2  서울특별시 강남구 개포동    79.97  2020.06    162750                 2035
3  서울특별시 강남구 개포동    79.97  2020.06    160000                 2000
4  서울특별시 강남구 개포동    79.97  2020.06    150000                 1875

In [17]:
#자치구별 주소 구로만 가져오기
df2['자치구별'] = df2['자치구별'].str.split().str[1]
df2.head()

  자치구별  전용면적(㎡)     계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
0  강남구    77.75  2020.06    149500                 1922
1  강남구    54.98  2020.02    144000                 2619
2  강남구    79.97  2020.06    162750                 2035
3  강남구    79.97  2020.06    160000                 2000
4  강남구    79.97  2020.06    150000                 1875

In [18]:
#계약년월 -> 계약연도, 계약월로 나누기
df2['계약년월'] = df2['계약년월'].str.replace(".", "").astype(int)
df2['계약연도'] = df2['계약년월'] // 100
df2['계약월'] = df2['계약년월'] % 100

C:\Users\acorn\AppData\Local\Temp\ipykernel_9256\1734486872.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['계약년월'] = df2['계약년월'].str.replace(".", "").astype(int)

In [19]:
df2

      자치구별  전용면적(㎡)    계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)  계약연도  계약월
0      강남구    77.75  202006    149500                 1922  2020    6
1      강남구    54.98  202002    144000                 2619  2020    2
2      강남구    79.97  202006    162750                 2035  2020    6
3      강남구    79.97  202006    160000                 2000  2020    6
4      강남구    79.97  202006    150000                 1875  2020    6
...    ...      ...     ...       ...                  ...   ...  ...
84134  중랑구    67.57  202008     26000                  384  2020    8
84135  중랑구    95.94  202007     44000                  458  2020    7
84136  중랑구   100.17  202012     54800                  547  2020   12
84137  중랑구    77.71  202009     40000                  514  2020    9
84138  중랑구    77.71  202009     40000                  514  2020    9

[84139 rows x 7 columns]

In [20]:
#중간포인트 저장
df2.to_csv(r"C:/seokwonna/프로젝트/save_point1_apt_buysell_2020_data.csv", encoding='utf-8')

In [21]:
df2.columns

Index(['자치구별', '전용면적(㎡)', '계약년월', '거래금액(만원)', '1m^2 전용면적당 거래금액(만원)', '계약연도',
       '계약월'],
      dtype='object')

In [22]:
# 컬럼의 순서(위치) 바꾸기
cols = ['자치구별', '계약연도', '계약월', '전용면적(㎡)', '거래금액(만원)', '1m^2 전용면적당 거래금액(만원)']
df3 = pd.DataFrame(df2, columns=cols)
df3

      자치구별  계약연도  계약월  전용면적(㎡)  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
0      강남구  2020    6    77.75    149500                 1922
1      강남구  2020    2    54.98    144000                 2619
2      강남구  2020    6    79.97    162750                 2035
3      강남구  2020    6    79.97    160000                 2000
4      강남구  2020    6    79.97    150000                 1875
...    ...   ...  ...      ...       ...                  ...
84134  중랑구  2020    8    67.57     26000                  384
84135  중랑구  2020    7    95.94     44000                  458
84136  중랑구  2020   12   100.17     54800                  547
84137  중랑구  2020    9    77.71     40000                  514
84138  중랑구  2020    9    77.71     40000                  514

[84139 rows x 6 columns]

In [23]:
#group_by 사용해서 자치구별 + 계약년월 대비 전용면적당 거래금액(만원) 평균 df으로 구성
df4 = df3.groupby([df3.자치구별, df3.계약월]).mean().round(0)
df4

            계약연도  전용면적(㎡)  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
자치구별 계약월
강남구  1    2020.0     87.0  155215.0               1849.0
     2    2020.0     79.0  161630.0               2118.0
     3    2020.0     86.0  169889.0               1996.0
     4    2020.0     97.0  193635.0               2033.0
     5    2020.0     87.0  171055.0               1965.0
...          ...      ...       ...                  ...
중랑구  8    2020.0     67.0   54867.0                837.0
     9    2020.0     68.0   53744.0                806.0
     10   2020.0     64.0   51969.0                837.0
     11   2020.0     64.0   54177.0                857.0
     12   2020.0     71.0   59906.0                866.0

[300 rows x 4 columns]

In [24]:
unique_values = df2['자치구별'].unique()
print(unique_values)
print(unique_values.size)

['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구']
25

In [25]:
#자치구 월별 매매된 평균 아파트 매매가, 1m^2 전용면적당 평균가
df3.to_csv(
    r"C:/seokwonna/프로젝트/save_point2_apt_buysell_2020_data.csv", encoding='utf-8')

In [26]:
df5 = df3.groupby([df3.자치구별]).mean().round(0)
df5.head()

        계약연도  계약월  전용면적(㎡)  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
자치구별
강남구   2020.0  7.0     88.0  183946.0               2117.0
강동구   2020.0  6.0     74.0   83823.0               1170.0
강북구   2020.0  6.0     75.0   55942.0                771.0
강서구   2020.0  7.0     72.0   67700.0                964.0
관악구   2020.0  6.0     74.0   61852.0                871.0

In [27]:
#서울시 수치화된 데이터 평균가 추가
df5.loc['평균'] = df4.mean().round(0)
df5

        계약연도  계약월  전용면적(㎡)  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
자치구별
강남구   2020.0  7.0     88.0  183946.0               2117.0
강동구   2020.0  6.0     74.0   83823.0               1170.0
강북구   2020.0  6.0     75.0   55942.0                771.0
강서구   2020.0  7.0     72.0   67700.0                964.0
관악구   2020.0  6.0     74.0   61852.0                871.0
광진구   2020.0  7.0     84.0  106705.0               1291.0
구로구   2020.0  6.0     71.0   54440.0                769.0
금천구   2020.0  7.0     67.0   47038.0                739.0
노원구   2020.0  6.0     63.0   52201.0                844.0
도봉구   2020.0  6.0     69.0   45698.0                675.0
동대문구  2020.0  6.0     74.0   71189.0                995.0
동작구   2020.0  7.0     82.0   97779.0               1230.0
마포구   2020.0  7.0     77.0  101338.0               1344.0
서대문구  2020.0  6.0     78.0   78548.0               1038.0
서초구   2020.0  7.0     96.0  174956.0               1913.0
성동구   2020.0  7.0     80.0  114341.0               1471.0
성북구   2020.0  6.0     78.0   68692.0                914.0
송파구   2020.0  7.0     85.0  130260.0               1601.0
양천구   2020.0  7.0     79.0   89062.0               1143.0
영등포구  2020.0  6.0     76.0   89836.0               1180.0
용산구   2020.0  7.0     98.0  152261.0               1594.0
은평구   2020.0  6.0     78.0   62445.0                827.0
종로구   2020.0  7.0     77.0   80061.0               1034.0
중구    2020.0  7.0     84.0   92392.0               1138.0
중랑구   2020.0  6.0     69.0   50945.0                760.0
평균    2020.0  NaN     78.0   87538.0               1127.0

In [28]:
#2018년 자치구별 매매된 평균 아파트 매매가, 1m^2 전용면적당 평균가
df5.to_csv(
    r"C:/seokwonna/프로젝트/save_point3_apt_buysell_2020_data.csv", encoding='utf-8')