In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#matplot 한글폰트 설정
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\Windows\Fonts\GULIM.TTC").get_name()
plt.rc("font", family = font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"]= False

In [2]:
#아파트 매매 실거래가 가져오기 및 필요없는 행 제거

df = pd.read_csv(
    r"C:/Users/acorn/OneDrive/Desktop/중간프로젝트/부동산/아파트(매매)__실거래가_2021_국토교통부.csv", encoding='euc-kr',
        skiprows= 15)
df.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202104,15,"174,000",9,1988,언주로 103,NaN,-,-
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202105,15,"195,000",5,1987,언주로 3,NaN,-,-
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202108,11,"200,000",3,1987,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202109,2,"220,000",2,1987,언주로 3,NaN,-,-
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202112,4,"215,000",3,1987,언주로 3,NaN,중개거래,서울 강남구

In [3]:
#데이터 정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43464 entries, 0 to 43463
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       43464 non-null  object
 1   번지        43450 non-null  object
 2   본번        43459 non-null  float64
 3   부번        43459 non-null  float64
 4   단지명       43464 non-null  object
 5   전용면적(㎡)   43464 non-null  float64
 6   계약년월      43464 non-null  int64
 7   계약일       43464 non-null  int64
 8   거래금액(만원)  43464 non-null  object
 9   층         43464 non-null  int64
 10  건축년도      43464 non-null  int64
 11  도로명       43464 non-null  object
 12  해제사유발생일   1475 non-null   float64
 13  거래유형      43464 non-null  object
 14  중개사소재지    43464 non-null  object
dtypes: float64(4), int64(4), object(7)
memory usage: 5.0+ MB

In [4]:
df1 = df.copy()

In [5]:
df1.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202104,15,"174,000",9,1988,언주로 103,NaN,-,-
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202105,15,"195,000",5,1987,언주로 3,NaN,-,-
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202108,11,"200,000",3,1987,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202109,2,"220,000",2,1987,언주로 3,NaN,-,-
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202112,4,"215,000",3,1987,언주로 3,NaN,중개거래,서울 강남구

In [6]:
#계약년월 연도.월로 변환
df1['계약년월'] = df1['계약년월'].astype(
    str).apply(lambda x: x[:4] + '.' + x[4:6])
df1.info()
df1['계약년월']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43464 entries, 0 to 43463
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       43464 non-null  object
 1   번지        43450 non-null  object
 2   본번        43459 non-null  float64
 3   부번        43459 non-null  float64
 4   단지명       43464 non-null  object
 5   전용면적(㎡)   43464 non-null  float64
 6   계약년월      43464 non-null  object
 7   계약일       43464 non-null  int64
 8   거래금액(만원)  43464 non-null  object
 9   층         43464 non-null  int64
 10  건축년도      43464 non-null  int64
 11  도로명       43464 non-null  object
 12  해제사유발생일   1475 non-null   float64
 13  거래유형      43464 non-null  object
 14  중개사소재지    43464 non-null  object
dtypes: float64(4), int64(3), object(8)
memory usage: 5.0+ MB

0        2021.04
1        2021.05
2        2021.08
3        2021.09
4        2021.12
          ...
43459    2021.02
43460    2021.11
43461    2021.05
43462    2021.07
43463    2021.08
Name: 계약년월, Length: 43464, dtype: object

In [7]:
df1.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일', '거래유형', '중개사소재지'],
      dtype='object')

In [8]:
# 거래금액(만원) column을 숫자형으로 변환
df1['거래금액(만원)'] = df1['거래금액(만원)'].str.replace(',', '').astype(int)

In [9]:
#결측치 확인
df1['거래금액(만원)'].isnull().sum()

0

In [10]:
df1['거래금액(만원)'].describe().round(0)

count      43464.0
mean      102718.0
std        75149.0
min         6600.0
25%        58800.0
50%        84700.0
75%       127500.0
max      1200000.0
Name: 거래금액(만원), dtype: float64

In [11]:
#결측데이터 확인
sorted_df1 = df1.sort_values(by='거래금액(만원)', ascending=True)
sorted_df1

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
12725,서울특별시 구로구 오류동,34-13,34.0,13.0,썬앤빌,14.0640,2021.02,18,6600,11,2014,경인로19가길 40,NaN,-,-
14375,서울특별시 노원구 공릉동,395-7,395.0,7.0,진명비베레,12.5172,2021.05,13,6750,4,2012,동일로190길 7,NaN,-,-
12736,서울특별시 구로구 오류동,34-13,34.0,13.0,썬앤빌,14.0640,2021.08,18,7000,8,2014,경인로19가길 40,NaN,-,-
12728,서울특별시 구로구 오류동,34-13,34.0,13.0,썬앤빌,14.0640,2021.04,17,7000,8,2014,경인로19가길 40,NaN,-,-
41128,서울특별시 종로구 행촌동,41-1,41.0,1.0,대성아파트,19.2700,2021.03,11,7500,1,1971,사직로 21,NaN,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38868,서울특별시 용산구 한남동,410,410.0,0.0,파르크한남,268.9500,2021.11,24,1150000,3,2020,유엔빌리지길 80-1,NaN,직거래,-
2128,서울특별시 강남구 청담동,129,129.0,0.0,PH129,273.9600,2021.03,4,1150000,14,2020,압구정로79길 88,NaN,-,-
2127,서울특별시 강남구 청담동,129,129.0,0.0,PH129,273.9600,2021.03,4,1150000,14,2020,압구정로79길 88,NaN,-,-
38869,서울특별시 용산구 한남동,410,410.0,0.0,파르크한남,268.6700,2021.11,26,1170000,4,2020,유엔빌리지길 80-1,NaN,직거래,-
38870,서울특별시 용산구 한남동,410,410.0,0.0,파르크한남,268.9500,2021.12,13,1200000,2,2020,유엔빌리지길 80-1,NaN,직거래,-

In [12]:
# 컬럼의 순서(위치) 바꾸기
cols = ['시군구', '전용면적(㎡)', '계약년월','거래금액(만원)']
df2 = pd.DataFrame(df1, columns = cols)
df2

                 시군구  전용면적(㎡)     계약년월  거래금액(만원)
0      서울특별시 강남구 개포동    77.75  2021.04    174000
1      서울특별시 강남구 개포동    79.97  2021.05    195000
2      서울특별시 강남구 개포동    79.97  2021.08    200000
3      서울특별시 강남구 개포동    79.97  2021.09    220000
4      서울특별시 강남구 개포동    79.97  2021.12    215000
...              ...      ...      ...       ...
43459  서울특별시 중랑구 중화동    57.66  2021.02     30500
43460  서울특별시 중랑구 중화동    84.69  2021.11     50000
43461  서울특별시 중랑구 중화동    72.22  2021.05     49500
43462  서울특별시 중랑구 중화동    58.46  2021.07     30000
43463  서울특별시 중랑구 중화동   104.93  2021.08     61500

[43464 rows x 4 columns]

In [13]:
df2.head()

             시군구  전용면적(㎡)     계약년월  거래금액(만원)
0  서울특별시 강남구 개포동    77.75  2021.04    174000
1  서울특별시 강남구 개포동    79.97  2021.05    195000
2  서울특별시 강남구 개포동    79.97  2021.08    200000
3  서울특별시 강남구 개포동    79.97  2021.09    220000
4  서울특별시 강남구 개포동    79.97  2021.12    215000

In [14]:
# 전용면적당 거래금액(만원)
df2['1m^2 전용면적당 거래금액(만원)'] = (df2['거래금액(만원)'] / df2['전용면적(㎡)']).astype(int)
df2.head()

             시군구  전용면적(㎡)     계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
0  서울특별시 강남구 개포동    77.75  2021.04    174000                 2237
1  서울특별시 강남구 개포동    79.97  2021.05    195000                 2438
2  서울특별시 강남구 개포동    79.97  2021.08    200000                 2500
3  서울특별시 강남구 개포동    79.97  2021.09    220000                 2751
4  서울특별시 강남구 개포동    79.97  2021.12    215000                 2688

In [15]:
#시군구 column 자치구별로 변동
df2.rename(columns = {'시군구':'자치구별'}, inplace = True)

In [16]:
df2.head()

            자치구별  전용면적(㎡)     계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
0  서울특별시 강남구 개포동    77.75  2021.04    174000                 2237
1  서울특별시 강남구 개포동    79.97  2021.05    195000                 2438
2  서울특별시 강남구 개포동    79.97  2021.08    200000                 2500
3  서울특별시 강남구 개포동    79.97  2021.09    220000                 2751
4  서울특별시 강남구 개포동    79.97  2021.12    215000                 2688

In [17]:
#자치구별 주소 구로만 가져오기
df2['자치구별'] = df2['자치구별'].str.split().str[1]
df2.head()

  자치구별  전용면적(㎡)     계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
0  강남구    77.75  2021.04    174000                 2237
1  강남구    79.97  2021.05    195000                 2438
2  강남구    79.97  2021.08    200000                 2500
3  강남구    79.97  2021.09    220000                 2751
4  강남구    79.97  2021.12    215000                 2688

In [18]:
#계약년월 -> 계약연도, 계약월로 나누기
df2['계약년월'] = df2['계약년월'].str.replace(".", "").astype(int)
df2['계약연도'] = df2['계약년월'] // 100
df2['계약월'] = df2['계약년월'] % 100

C:\Users\acorn\AppData\Local\Temp\ipykernel_18416\1734486872.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['계약년월'] = df2['계약년월'].str.replace(".", "").astype(int)

In [19]:
df2

      자치구별  전용면적(㎡)    계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)  계약연도  계약월
0      강남구    77.75  202104    174000                 2237  2021    4
1      강남구    79.97  202105    195000                 2438  2021    5
2      강남구    79.97  202108    200000                 2500  2021    8
3      강남구    79.97  202109    220000                 2751  2021    9
4      강남구    79.97  202112    215000                 2688  2021   12
...    ...      ...     ...       ...                  ...   ...  ...
43459  중랑구    57.66  202102     30500                  528  2021    2
43460  중랑구    84.69  202111     50000                  590  2021   11
43461  중랑구    72.22  202105     49500                  685  2021    5
43462  중랑구    58.46  202107     30000                  513  2021    7
43463  중랑구   104.93  202108     61500                  586  2021    8

[43464 rows x 7 columns]

In [20]:
#중간포인트 저장
df2.to_csv(r"C:/seokwonna/프로젝트/save_point1_apt_buysell_2021_data.csv", encoding='utf-8')

In [21]:
df2.columns

Index(['자치구별', '전용면적(㎡)', '계약년월', '거래금액(만원)', '1m^2 전용면적당 거래금액(만원)', '계약연도',
       '계약월'],
      dtype='object')

In [22]:
# 컬럼의 순서(위치) 바꾸기
cols = ['자치구별', '계약연도', '계약월', '전용면적(㎡)', '거래금액(만원)', '1m^2 전용면적당 거래금액(만원)']
df3 = pd.DataFrame(df2, columns=cols)
df3

      자치구별  계약연도  계약월  전용면적(㎡)  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
0      강남구  2021    4    77.75    174000                 2237
1      강남구  2021    5    79.97    195000                 2438
2      강남구  2021    8    79.97    200000                 2500
3      강남구  2021    9    79.97    220000                 2751
4      강남구  2021   12    79.97    215000                 2688
...    ...   ...  ...      ...       ...                  ...
43459  중랑구  2021    2    57.66     30500                  528
43460  중랑구  2021   11    84.69     50000                  590
43461  중랑구  2021    5    72.22     49500                  685
43462  중랑구  2021    7    58.46     30000                  513
43463  중랑구  2021    8   104.93     61500                  586

[43464 rows x 6 columns]

In [23]:
#group_by 사용해서 자치구별 + 계약년월 대비 전용면적당 거래금액(만원) 평균 df으로 구성
df4 = df3.groupby([df3.자치구별, df3.계약월]).mean().round(0)
df4

            계약연도  전용면적(㎡)  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
자치구별 계약월
강남구  1    2021.0     90.0  199820.0               2271.0
     2    2021.0     96.0  222720.0               2380.0
     3    2021.0     94.0  208013.0               2130.0
     4    2021.0     94.0  220932.0               2283.0
     5    2021.0     82.0  188019.0               2192.0
...          ...      ...       ...                  ...
중랑구  8    2021.0     70.0   71664.0               1038.0
     9    2021.0     69.0   68573.0               1023.0
     10   2021.0     68.0   69959.0               1032.0
     11   2021.0     66.0   68646.0               1064.0
     12   2021.0     66.0   63195.0                979.0

[300 rows x 4 columns]

In [24]:
unique_values = df2['자치구별'].unique()
print(unique_values)
print(unique_values.size)

['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구']
25

In [25]:
#자치구 월별 매매된 평균 아파트 매매가, 1m^2 전용면적당 평균가
df3.to_csv(
    r"C:/seokwonna/프로젝트/save_point2_apt_buysell_2021_data.csv", encoding='utf-8')

In [26]:
df5 = df3.groupby([df3.자치구별]).mean().round(0)
df5.head()

        계약연도  계약월  전용면적(㎡)  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
자치구별
강남구   2021.0  5.0     88.0  207220.0               2351.0
강동구   2021.0  5.0     66.0   93626.0               1437.0
강북구   2021.0  5.0     73.0   66786.0                939.0
강서구   2021.0  5.0     69.0   79163.0               1175.0
관악구   2021.0  6.0     68.0   72949.0               1089.0

In [27]:
#서울시 수치화된 데이터 평균가 추가
df5.loc['평균'] = df4.mean().round(0)
df5

        계약연도  계약월  전용면적(㎡)  거래금액(만원)  1m^2 전용면적당 거래금액(만원)
자치구별
강남구   2021.0  5.0     88.0  207220.0               2351.0
강동구   2021.0  5.0     66.0   93626.0               1437.0
강북구   2021.0  5.0     73.0   66786.0                939.0
강서구   2021.0  5.0     69.0   79163.0               1175.0
관악구   2021.0  6.0     68.0   72949.0               1089.0
광진구   2021.0  5.0     79.0  119721.0               1517.0
구로구   2021.0  5.0     65.0   62037.0                945.0
금천구   2021.0  6.0     67.0   59569.0                914.0
노원구   2021.0  5.0     62.0   67274.0               1116.0
도봉구   2021.0  5.0     67.0   58488.0                899.0
동대문구  2021.0  5.0     67.0   77557.0               1174.0
동작구   2021.0  6.0     77.0  111730.0               1670.0
마포구   2021.0  6.0     75.0  116795.0               1568.0
서대문구  2021.0  6.0     74.0   90763.0               1256.0
서초구   2021.0  5.0     96.0  205079.0               2208.0
성동구   2021.0  6.0     81.0  144546.0               1806.0
성북구   2021.0  5.0     75.0   83998.0               1144.0
송파구   2021.0  6.0     80.0  154346.0               1983.0
양천구   2021.0  5.0     77.0  103119.0               1353.0
영등포구  2021.0  6.0     71.0  101949.0               1378.0
용산구   2021.0  5.0    104.0  199106.0               1903.0
은평구   2021.0  6.0     73.0   73155.0               1042.0
종로구   2021.0  6.0     75.0   92945.0               1239.0
중구    2021.0  5.0     70.0   89991.0               1285.0
중랑구   2021.0  6.0     68.0   64494.0                969.0
평균    2021.0  NaN     74.0  104314.0               1378.0

In [28]:
#2018년 자치구별 매매된 평균 아파트 매매가, 1m^2 전용면적당 평균가
df5.to_csv(
    r"C:/seokwonna/프로젝트/save_point3_apt_buysell_2021_data.csv", encoding='utf-8')